$blue: #4f81c7;
$blue-lighter: #d8d7ff;

$white: #fff;
$gray-lighter: #c0c5ce;
$gray-light: #a7adba;
$gray: #65737e;
$gray-dark: #4f5b66;
$gray-darker: #343d46;
$black: #000;

$orange: #ffa500;

$translucent-black: rgba(0, 0, 0, 0.357);
