$grid-width-sm: 576px;
$grid-width-md: 768px;
$grid-width-lg: 992px;
$grid-width-xl: 1200px;

$container-width-on-xs: auto;
$container-width-on-sm: 540px;
$container-width-on-md: 720px;
$container-width-on-lg: 960px;
$container-width-on-xl: 1140px;

$nav-width: 300px;
