@import "../base/variables/index";

$header-height: 50px;

.header {
  background-color: $blue;
  height: $header-height;
  display: flex;
  justify-content: center;
  align-items: center;

  &__button {
    position: absolute;
    top: $font-size-base - 1;
    left: $font-size-base - 1;
  }

  h1 {
    color: $white;
    margin: 0;
    font-size: $font-size-base;
  }
}
