@import "../base/variables/index";

.profile {
  width: 100%;
  margin-top: 100px;

  .card {
    border-radius: 50px 5px;

    @media screen and (max-width: $grid-width-lg) {
      box-shadow: none;
    }
  }

  .name {
    text-align: center;
    color: $gray-dark;
    font-weight: bold;
    font-size: $font-size-base * 1.5;
  }

  .avatar {
    border-radius: $border-radius-50;
    display: block;
    margin: 0 auto;
    border: 10px solid $white;
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.07);
    margin-top: -120px;
    border-radius: 5px 50px;
  }

  p {
    display: flex;
    align-items: center;
    color: $gray;

    * {
      margin: 0 8px;
    }

    span {
      color: $gray-dark;
      font-weight: bold;
    }
  }

  // @media screen and (max-width: $grid-width-lg) {
  //   padding: 0;
  //   background-color: $white;
  //   position: fixed;
  //   z-index: 999;
  //   height: 100vh;
  //   top: 0;
  // }
}
